/*最外层div*/
.home {
    height: 100%;
}
/*网页全屏*/
.home_container{
    height: 93%;
    background-color: #ECEFFF;
    /*background: linear-gradient(90deg,#ECEFFF,black);*/
}

.el-aside {
    height: 93%;
    width: 60%;
}

.el-main {
    height: 93%;
}

.left_img{
    border-radius: 20px;
    box-shadow: -0.2px 1px 0px -0.2px #FFFFFF;
    margin-left: 20%;
    margin-top: 12%;
}

.home_footer{
    height: 6%;
}