/*最外层div*/
.home {
    height: 100%;
}
/*网页全屏*/
.home_container{
    height: 94%;
    background-color: #ECEFFF;
    /*background: linear-gradient(90deg,#ECEFFF,black);*/
}

.el-aside{
    height: 94%;
    width: 60%;
}

.el-main{
    height: 94%;
    display: flex !important;
    align-items: center;
    flex-direction: column;

}

.left_img{
    border-radius: 20px;
    box-shadow: -0.2px 1px 0 -0.2px #FFFFFF;
    margin-left: 20%;
    margin-top: 12%;
}

.right_img{
    height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 33px;
}

.right_img_tubiao{
    height: 100%;
    width: 233px;
    object-fit: contain;
}

.right_Login{
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.footer_a{
    text-align: center;
    font-size: 15px;
}

a{
    text-decoration-line: none;
}

.footer_span{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    color: #999;
}

span{
    margin-left: 6px;
}



